@import "tailwindcss";

body {
  background-color: black;
}

/* scroll geral */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a78bfa;
}